{
	"env": {
		"es": {
			"presets": ["@babel/react"]
		},
		"node": {
			"presets": [["@babel/env", {
				"targets": {
				  "node": "current"
				}
			}], "@babel/react"]
		},
		"web":{
			"presets": [["@babel/env", {
				"targets": {
				  "browsers": "defaults"
				}
			}], "@babel/react"]
		}
	}
}
